.cards{
    height: 100%;

}


.card-wrapper{
    margin-top: 2px;
}

.home{
    background-color: #EFEBE4 !important;
    height: 100%;
}

.resultado{
    margin-top: -1.9rem;
    display: flex;
    background-color: #303030;
}

.primeiro{
    width: 320px;
    height: 100%;
}

.area_card{
    background: #0C70F2;
}
